{% import "macros.njk" as macro %}
<!Doctype HTML>
<head>

  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <div class="page">
        <div class="border_box">
            <div class="ruler">

                <div class="flex justify-between" >
                    <div class="f2" >
                        Jacob Spence
                    </div>
                    <div class="flex" >
                        <div>
                            jpspence@andrew.cmu.edu
                        </div>
                        <div>
                            412-512-3871
                        </div>
                    </div>
                </div>
                <hr>

                <div class="flex" >
                    <div class="flex flex-column w-50 mr2" id="left" >
                        <div>
                        {{macro.big_text("Education")}}
                        {{macro.position_card("Carnegie Mellon University",
                            "Bachelor of Science in Logic & Computation",
                            "May 2020",
                            "Selected Courses: Computer Systems, Digital Architecture, Principles of Software Construction, Statistics, Probability, Machine Learning, Formal Logic, Theoretical CS"
                        )}}
                        </div>
                        
                        <div class="flex flex-column justify-center h-100">

                            {{macro.big_text("Technical Proficiencies")}}
                            <div class="flex">
                                {% set imgs = [{path: "python_logo.svg", text: "Python"},
                                {path: "c_logo.svg", text: "C"},
                                {path: "kotlin_logo.svg", text: "Kotlin"},
                                {path: "mithril_logo.png", text: "Mithril"},
                                {path: "git_logo.png", text: "Git"},
                                {path: "js_logo.png", text: "Javascript"}
                            ]%}
                            {% for img in imgs %}
                                {{macro.icon_text("imgs/" + img.path, img.text)}}
                            {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-column w-50 ml2" id="right" >
                        {{macro.big_text("Experience")}}
                        {{macro.position_card("Maven Machines",
                            "Software Intern",
                            "Summer 2018",
                            "Worked alongside full-time engineers developing management technologies for trucking companies. Designed, coded, and shipped several quality of life improvements to their android app. Acquainted myself with agile, scrum, and life at a startup."
                        )}}

                        {{macro.position_card("Ultraworking",
                            "Web Dev Contractor",
                            "2018-2019",
                            "Coordinated remotely to prototype proof-of-concept features for a javascript-mithril web app. Experimented with creative ways to produce dynamic content with no backend."
                        )}}

                        {{macro.med_text("CMU Academic Development")}}
                        {{macro.title_date_card("Computer Systems Tutor",
                            "2018-2019")}}
                        {{macro.title_date_card("Theoretical Computer Science Tutor",
                            "2019")}}
                    </div>

                </div>

                {{macro.big_text("Projects")}}
                <div class="flex justify-between" >

                    <div class="flex flex-column w-25" >
                        {{macro.project_card("Energy Tracker App",
                            "Alarm prompts you hourly to report how much energy you have. Exports all data to csv for use with quantified self style research. Written in Java.",
                            "https://play.google.com/store/apps/details?id=com.approvequestions.energytracker",
                            "Google Play Store"
                        )}}
                    </div>

                    <div class="flex flex-column w-25" >
                        {{macro.project_card("Tartan Hacks 2019 \"Friz\"",
                            "Partially implimented p2p messaging app that uses reverse-Tor packets to anonymize users and disconnect their IP address from their identity. Won \"Most Ambitious Failure\""
                        )}}
                    </div>

                    <div class="flex flex-column w-30" >
                        {{macro.project_card("Alice in Canvas Land",
                            "Web based puzzle game that requires physically exploring CMU campus to crack the code. Levels designed in Google Sheets and animated with HTML Canvas.",
                            "https://github.com/jecneps/alice-puzzle",
                            "jecneps/alice-puzzle"
                        )}}
                    </div>
                </div>

                <div class="flex justify-between" >

                    <div class="flex flex-column w-30" >
                        {{macro.project_card("Youtube Utility",
                            "Desktop electron app to help streamline the process of getting music from youtube. Allows bulk downloads from playlists, and bulk editing of metadata so your music player of choice can group by album.",
                            "https://github.com/jecneps/youtube-downloader",
                            "jecneps/youtube-downloader"
                        )}}
                    </div>

                    <div class="flex flex-column w-30" >
                        {{macro.project_card("ML Playground",
                            "Interactive environment to play with the K-Nearest Neighbors algorithm. Lets you draw the digits to train and test on, allowing you to explore edge cases. Built in pygame.",
                            "https://github.com/jecneps/ML-PlayGround",
                            "jecneps/ML-PlayGround"
                        )}}
                    </div>

                    <div class="flex flex-column w-30" >
                       
                    </div>
                </div>

      
                <div class="flex">
                    <div class="flex flex-column w-50 mr2">
                        {{macro.big_text("Interests")}}
                        {{macro.sml_text("The Decentralized Internet, Cryptography, Security, Explorable Explanations, Memex design, Formal Epistemology, Crytpocurrencies")}}
                    </div>
                    <div class="flex flex-column w-50 ml2">
                        {{macro.big_text("Misc")}}
                        {{macro.sml_text("Eagle Scout
                200-hour registered Yoga Teacher
                Professional Close-up Magician"
                        )}}
                    </div>

                </div>

            </div>
        </div>
    </div>

</body>
