{% import "macros.njk" as macro %}
<!Doctype HTML>
<head>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <div class="page" id="resume">
        <div class="border_box">
            <div class="ruler" >

                <div class="flex justify-center" >
                    <div class="flex">
                        <span class="f1 mr2" > Jacob </span> <span class="f1 orange"> Spence</span>
                        
                    </div>
                    
                </div>
                <hr>
                <div class="flex flex-column w-100 items-center">
                    {{macro.sml_text_nm("jejcneps@gmail.com")}}
                    {{macro.sml_text_nm("412-512-3871")}}
                </div>
                <div class="flex mb3" >
                    <div class="flex flex-column mr2" style="width:65%" id="left" >
                        <div>
                        {{macro.big_text_nm("Education")}}
                        {{macro.position_card("Carnegie Mellon University",
                            "Bachelor of Science in Logic & Computation",
                            "May 2020",
                            "Selected Courses: Computer Systems, Digital Architecture, Software Construction, Statistics, Probability, Machine Learning, Formal Logic, Theoretical Comp Sci"
                        )}}
                        </div>
                    </div>

                    <div class="flex flex-column  ml2" id="right" >
                    </div>

                </div>
                {{macro.big_text("Experience")}}
                <div class="flex justify-between" >

                    <div class="flex flex-column w-30" >
                        {{macro.position_card("Bahabar",
                            "CTO",
                            "Spring 2022-Present",
                            "Designed a DSL for cocktails that allows drink recipes to be turned into in-browser animated tutorials. Built and deployed a web app using the former that allows bars to reduce training costs and inventory shrinkage."
                        )}}
                    </div>

                    <div class="flex flex-column w-30" >
                        {{macro.position_card("Google",
                            "L3 SWE",
                            "2020-2021",
                            "Worked on the Cloud Infrastructure team integrating open-source terraform linting tools into Google's static analysis pipeline. With the Search Compliance team implemented better metrics for tracking compliance issues which revealed a serious hole in our previous logging strategy."
                        )}}
                    </div>

                    <div class="flex flex-column w-30" >
                        {{macro.position_card("Ultraworking",
                            "Web Dev Contractor",
                            "2018-2019",
                            "Coordinated remotely to prototype proof-of-concept features for a javascript-mithril web app. Experimented with creative ways to produce dynamic content with no backend."
                        )}}
                    </div>

                    

                    
                </div>
                <div class="flex justify-between mb2">
                    
                    <div class="flex flex-column w-30" >
                        {{macro.position_card("Maven Machines",
                            "Software Intern",
                            "Summer 2018",
                            "Worked alongside full-time engineers developing management technologies for trucking companies. Designed, coded, and shipped several quality of life improvements to their android app. Acquainted myself with agile, scrum, and life at a startup."
                        )}}
                    </div>
                    
                    <div class="flex flex-column w-30" >
                        {{macro.med_text("CMU Academic Development")}}
                        {{macro.title_date_card("Computer Systems Tutor",
                            "2018-2019")}}
                        {{macro.title_date_card("Theoretical Comp Sci Tutor",
                            "2019")}}
                    </div>
                    <div class="flex flex-column w-30" >
                       
                    </div>

                </div>

                

                
                <div class="flex">
                    
                    <div class="flex flex-column w-50">
                        {{macro.big_text("Misc")}}
                        {{macro.sml_text_nm("Eagle Scout")}}
                        {{macro.sml_text_nm("200-hour registered Yoga Teacher")}}
                        {{macro.sml_text_nm("Professional Close-up Magician")}}
                    </div>

                    <div class="flex flex-column w-50">

                        {{macro.big_text("Technical Proficiencies")}}
                        <div class="flex">
                            {% set imgs = [
                                {path: "go_logo.svg", text: "Golang"},
                                {path: "clojure_logo.svg", text: "Clojure"},
                                {path: "react_logo.svg", text: "React"},
                                {path: "git_logo.png", text: "Git"},
                                {path: "ts_logo.png", text: "TypeScript"},
                                {path: "python_logo.svg", text: "Python"}
                            ]%}
                            {% for img in imgs %}
                                {{macro.icon_text("imgs/" + img.path, img.text)}}
                            {% endfor %}
                        </div>
                    </div>

                </div> 
            </div>
        </div>
    </div>

</body>
