.page {
    position: absolute;
    width:8.5in;
    height: 11in;
    border: 1px solid black;
    left: 50%;
    transform: translateX(-50%);
    background: white;
}

.border_box {
    padding: .5in;
    width: 100%;
    height: 100%;
}

.ruler {
    width: 100%;
    height:100%;
    
}

body {
    background: #696969;
}

hr {
    border: 1px solid #ff6300;
}
